<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>ヤプル合同会社</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="0; URL=https://yapr.jp">
<link href="./template_files/css/style.css%3F1583978598.css" rel="stylesheet">
<link href="./template_files/css/npo.css%3F1583978598.css" rel="stylesheet">

<script src="./js/const_common.js"></script>
<script src="./js/const_production.js"></script>
<script src="./accessor/script/fontplus.js%3F5qoPx6QyJ8k=&amp;aa=1" charset="utf-8"></script>
<meta property="og:image" content="https://cdn.peraichi.com/userData/5de70d0b-a498-47fc-bca0-15b40a0000fe/ogp/538619.png">
<meta property="og:url" content="https://peraichi.com/landing_pages/view/0v5sw">
<script type="text/javascript" src="./js/libs/lazysizes.min.js%3F1583978598"></script>
<script type="text/javascript" src="./js/lazyLoad.js%3F1583978598"></script>
<script type="text/javascript" src="./cjs/dist/peraichi_setting.js%3F1583987369"></script>
<script src="./lait.js" data-lait="on" data-sid="2bad96c669fe37b88a24137c4092b472" data-tag-version="1.0.0" defer async></script></head>
  <body class="theme-npo" data-template-name="it2" style="overflow: auto; padding-top: 70px;">
        <div class="s_navigation_fixed section pera1-section" data-section-id="branding-s_navigation_logo_fixed" data-section-name="ナビゲーション・ロゴ(上部に固定)" id="section-1">
          <div class="m_navigation pera1-editable" data-pera1-type="navigation" data-bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); text-align: right;">
            <div class="navigationHeader">
              <div class="e_img pera1-removable"><img class="e_logo pera1-editable" src="./userData/5de70d0b-a498-47fc-bca0-15b40a0000fe/img/5de737cddec65/original.jpg"></div>
              <div class="btn_navigationToggle"><i></i></div>
            </div>
            <ul class="m_navigationMenu font-size-18px" data-textcolor="#333" style="color: rgb(51, 51, 51);"><li><a href="#section-5" target="_self">サービス</a></li><li><a href="#section-7" target="_self">会社概要</a></li><li><a href="#section-11" target="_self">お問い合わせ</a></li></ul>
          </div>
        </div>
        <div class="pera1-section section s_hero npo-s_hero-txtcenter" id="section-12">
          <div class="pera1-bg-editable" style="background-image: url('./hero.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;" id="section-2" data-bg-key="0">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 npo-hero-txtcenter">
                  <div class="npo-hero-txtcenter-txt">
                    <div class="e_txt pera1-editable pera1-removable font-size-56px">"面白い"を作る<br></div>
                    <div class="e_txt pera1-editable pera1-removable font-size-30px"><br>便利・面白いWebシステム開発を一緒に作っていきます。<br>ヤプルはそんな皆様の目的を実現していきます。<br><br></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pera1-section section npo-s_card-3col" data-section-id="npo/s_npo_card_3col" data-section-name="画像+テキスト（3カラム）" id="section-3">
          <div class="container-fluid">
            <h2 class="e_head pera1-editable pera1-removable font-size-24px"><strong>特長</strong></h2>
            <div class="row">
              <div class="col-sm-4 col-xs-12 npo-card-3col pera1-removable">
                <div class="npo-card-white">
                  <div class="e_img pera1-removable"><img class="img-full pera1-editable" src="./template_files/library/pakutaso/pakutaso_070/original.jpg"></div>
                  <div class="text-bold e_head pera1-editable pera1-removable font-size-20px"><br>特徴1</div>
                  <div class="e_txt pera1-editable pera1-removable font-size-18px">お客様に選ばれる<br>圧倒的な技術力<br></div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12 npo-card-3col pera1-removable">
                <div class="npo-card-white">
                  <div class="e_img pera1-removable"><img class="img-full pera1-editable" src="./template_files/library/pakutaso/pakutaso_059/original.jpg"></div>
                  <div class="text-bold e_head pera1-editable pera1-removable font-size-20px"><br>特徴2</div>
                  <div class="e_txt pera1-editable pera1-removable font-size-18px">ビジネスを加速させる<br>スピードのある対応力</div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12 npo-card-3col pera1-removable pera1-multiple" data-elem-name="npo-card-3col">
                <div class="npo-card-white">
                  <div class="e_img pera1-removable"><img class="img-full pera1-editable" src="./template_files/library/pakutaso/pakutaso_097/original.jpg"></div>
                  <div class="text-bold e_head pera1-editable pera1-removable font-size-20px"><br>特徴3</div>
                  <div class="e_txt pera1-editable pera1-removable font-size-18px">ビジネスの市場を広げる<br>グローバル力</div>
                </div>
              </div><div class="col-sm-4 col-xs-12 npo-card-3col pera1-removable pera1-ghost pera1-add" data-elem-name="npo-card-3col" style="opacity: 0; height: 50px;">
                <div class="npo-card-white">
                  <div class="e_img pera1-removable"><img class="img-full pera1-editable" src="./template_files/library/pakutaso/pakutaso_097/original.jpg"></div>
                  <div class="text-bold e_head pera1-editable pera1-removable font-size-20px"><br>特徴3</div>
                  <div class="e_txt pera1-editable pera1-removable font-size-18px">ビジネスの市場を広げる<br>グローバル力</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pera1-section section npo-s_full-concept" data-section-id="npo/s_npo_concept_bg" data-section-name="コンセプト（背景）" id="section-4">
          <div class="npo-full-bgImg pera1-bg-editable" style="background-image: url(./template_files/it2/img/bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="1">
            <div class="container-fluid">
              <h2 class="e_head pera1-editable pera1-removable font-size-24px"><strong> <span style="color: rgb(56, 154, 220);" data-mce-style="color: #389adc;">企業メッセージ</span></strong></h2>
              <div class="row">
                <div class="col-sm-6 col-xs-12 npo-concept pera1-removable">
                  <div class="e_txt pera1-editable font-size-20px"><div style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(0, 0, 0);" data-mce-style="color: #000000;">"つくりたい"を作る</span><br><br></div><div style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(0, 0, 0);" data-mce-style="color: #000000;">私たちは世の中の「つくりたい」を「つくれる」に変え、その先にあるそれぞれの目的を実現させるための全てのことを提供します。</span></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="s_card-topImg-3col section pera1-section" data-section-id="branding-s_card_topImg_3col" data-section-name="上画像（3列）" id="section-5">
          <div class="container-fluid">
            <h2 class="e_head text-center pera1-editable pera1-removable font-size-24px"><strong>サービス</strong></h2>
            <div class="row">
              <div class="col-sm-4">
                <div class="m_card-topImg">
                  <p class="e_img pera1-removable"><img class="pera1-editable" src="./template_files/it2/img/13.png"></p>
                  <h3 class="e_head text-center pera1-editable pera1-removable font-size-20px"><strong>Software<br>Development<br></strong><br></h3>
                  <div class="e_txt pera1-editable pera1-removable font-size-16px">
                    <div style="text-align: center;" data-mce-style="text-align: center;">スピード感のある最新のソフトウェア開発を行ないます。</div>
                  </div><br>
                  <p class="e_btn"></p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="m_card-topImg">
                  <p class="e_img pera1-removable"><img class="pera1-editable" src="./template_files/it2/img/14.png"></p>
                  <h3 class="e_head text-center pera1-editable pera1-removable font-size-20px"><strong>Digital<br>Marketing<br><br></strong></h3>
                  <div class="e_txt pera1-editable pera1-removable font-size-16px">SEO、リスティング広告、SNS運用などマーケティング全般を行います。</div><br>
                  <p class="e_btn"></p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="m_card-topImg">
                  <p class="e_img pera1-removable"><img class="pera1-editable" src="./template_files/it2/img/12.png"></p>
                  <h3 class="e_head text-center pera1-editable pera1-removable font-size-20px"><strong>Website<br>Optimization<br><br></strong></h3>
                  <div class="e_txt pera1-editable pera1-removable font-size-16px">サイトの読み込み時間など、Webサイトの最適化を行います。</div><br>
                  <p class="e_btn"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pera1-section section npo-s_data" data-section-id="npo/s_npo_data" data-section-name="データ" id="section-7">
          <div class="container-fluid">
            <h2 class="e_head pera1-editable pera1-removable font-size-24px"><strong>会社概要</strong></h2>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="npo-data-table pera1-removable">
                  <table>
                    <tbody>
                      <tr class="pera1-removable">
                        <th colspan="2" class="npo-s_catch e_txt font-size-20px pera1-editable">Yapr LLC.</th>
                      </tr>
                      <tr class="pera1-removable">
                        <td class="e_txt text-bold font-size-13px pera1-editable" width="35%">会社名</td>
                        <td class="e_txt font-size-13px pera1-editable">ヤプル 合同会社</td>
                      </tr>
                      <tr class="pera1-removable">
                        <td class="e_txt text-bold font-size-13px pera1-editable">所在地</td>
                        <td class="e_txt font-size-13px pera1-editable">〒185-0024<br>東京都国分寺市泉町3丁目4番1-602号<br></td>
                      </tr>
                      <tr class="pera1-removable">
                        <td class="e_txt text-bold font-size-13px pera1-editable">連絡先</td>
                        <td class="e_txt font-size-13px pera1-editable">take.yapr[at]gmail.com<br>05053732977</td>
                      </tr>
                      <tr class="pera1-removable">
                        <td class="e_txt text-bold font-size-13px pera1-editable">代表者</td>
                        <td class="e_txt font-size-13px pera1-editable">竹野 淳</td>
                      </tr>
                      <tr class="pera1-removable">
                        <td class="e_txt text-bold font-size-13px pera1-editable">設立</td>
                        <td class="e_txt font-size-13px pera1-editable">2019年 11月 26日</td>
                      </tr>
                      <tr class="pera1-removable pera1-multiple" data-elem-name="npo-tr">
                        <td class="e_txt text-bold font-size-13px pera1-editable">事業内容</td>
                        <td class="e_txt font-size-13px pera1-editable">(1) インターネットのホームページの企画、立案、制作及び保守に関する業務&nbsp;<br> (2) ウェブサイトの企画、設計、開発、運営及び販売<br>(3) コンピュータシステムの企画、開発、販売及び保守に関する業務 (4) 前各号に附帯又は関連する一切の事業 </td>
                      </tr><tr class="pera1-removable pera1-ghost pera1-add" data-elem-name="npo-tr" style="opacity: 0; height: 50px;">
                        <td class="e_txt text-bold font-size-13px pera1-editable">事業内容</td>
                        <td class="e_txt font-size-13px pera1-editable">(1) インターネットのホームページの企画、立案、制作及び保守に関する業務&nbsp;<br> (2) ウェブサイトの企画、設計、開発、運営及び販売<br>(3) コンピュータシステムの企画、開発、販売及び保守に関する業務 (4) 前各号に附帯又は関連する一切の事業 </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section s_table pera1-section" data-section-id="branding-s_table" data-section-name="テーブル（横線のみ）" id="section-9">
          <div class="container-fluid">
            <h2 class="e_head text-center pera1-editable pera1-removable font-size-24px"><strong>お知らせ</strong></h2>
            <div class="row">
              <div class="col-sm-12">
                <table class="table">
                  <tbody>
                    
                    
                    <tr class="pera1-removable pera1-multiple" data-elem-name="table">
                      <td class="pera1-editable font-size-16px">2019.12.04</td>
                      <td class="pera1-editable font-size-16px">ホームページを開設しました</td>
                    </tr><tr class="pera1-removable pera1-ghost pera1-add" data-elem-name="table" style="opacity: 0; height: 50px;">
                      <td class="pera1-editable font-size-16px">2019.12.04</td>
                      <td class="pera1-editable font-size-16px">ホームページを開設しました</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pera1-section section padding_tb0 npo-s_btnbar-bg npo-s_btnbar" data-section-id="npo/s_npo_btnbar" data-section-name="ボタン" id="section-11">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="e_txt pera1-editable pera1-removable font-size-14px npo-s_catch"><br data-mce-bogus="1"></div>
              </div>
            </div>
          </div>
          <div class="container-fluid npo-btnbar">
            
          </div>
          <div class="pera1-bg-editable pera1-removable" style="background-image: url(./template_files/it2/img/main.jpg); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;" data-bg-key="2">
            <div class="npo-color_mask">
              <div class="container-fluid npo-btnbar">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="e_txt pera1-editable pera1-removable font-size-14px">ヤプルへのお問い合わせ、仕事の依頼、取材交渉などはこちらのボタンからメールにてお願いいたします。</div>
                    <div class="e_btn pera1-removable"><a class="btn npo-btn-highlight pera1-editable" href="0v5sw.html#section-9" target="_self">お問い合わせ</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="pera1-section section s_footer-peraichi" data-section-id="brandin-s_footer" data-section-name="フッター" id="section-13">
      <div class="container-fluid">
        <div class="npo-footer-social">
          
          <div class="npo-social-item pera1-removable"><a href="https://twitter.com/yamitake" target="_self"><img class="img-full pera1-editable" src="./template_files/npo/img/icon_twitter.png"></a></div>
        </div>
        <div class="npo-footer-txt">
          <div class="e_txt e_txt-color-gray font-size-12px pera1-editable">Copyright 2019&nbsp;yapr</div>
          <div class="e_txt font-size-12px pera1-editable"><br data-mce-bogus="1"></div>
        </div>
      </div>
    </div>
  












<iframe width="0" height="0" src="./persistent_id.html" style="display: none;"></iframe>





<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="0v5sw.html#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script></body></html>
